.slideBar-container {
    width: 220px;
    height: 100vh;
    margin-right: 0px;
}


.large-slide {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    position: fixed;
    margin-top: 20px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.797);
    padding-bottom: 10px
}

.slideBar-links {
    text-decoration: none;
    color: black;
    font-size: 17px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.sliderBar-img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.separator-bar {
    width: 140px;
    border: black solid 1px;
    margin-left: 30px;
    list-style-type: none;
    border-color: grey;
}

.small-separator-bar {
    width: 36px;
    border: black solid 1px;
    margin-left: 17px;
    list-style-type: none;
    border-color: grey;
}

.channel-profile-name-container {
    display: flex;
    column-gap: 15px;
    margin-left: 20px;
    align-items: center;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12), 0 1.5px 4px rgba(0, 0, 0, 0.10)
}

.channel-name-edit {
    color: rgb(19, 17, 17);
    font-size: 1rem;
    font-weight: 500;

}

.subscribed {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    list-style-type: none;
    font-size: 13px;
    font-weight: 500;
}

.sliderBar-img.change-style {
    border-bottom: red 3px solid;
}


@media (max-width:750px) {

    .main-container-for-slidebar-and-content {
        display: flex;
        width: 100%;
    }

    .slide-content-container {
        width: 87%;
    }

    .slideBar-container {
        max-width: 9%;
        height: 100vh;
        margin-right: 0px;
    }

    .large-slide {
        padding-top: 20px;
        margin-top: -10px;
        height: 100vh;
        max-width: 9%;
    }

    .slideBar-text {
        font-size: 0px;
    }

    .separator-bar {
        width: 36px;
        border: black solid 1px;
        margin-left: 17px;
        list-style-type: none;
        border-color: grey;
    }

    .channel-name-edit {
        font-size: 0px;
    }

    .subscribed {
        font-size: 0px;
    }
}